<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Форма ввода</title>
</head>

<body>
	<h1>Добавить контакт</h1>
	<form action="contacts" method="POST">
	<table>
		<tr><td>
		<label>Имя:</label>
		<input name="name" type="text"></input>
		</td></tr>
		
		<tr><td>
		<label>Название компании:</label>
		<input name="company_name" type="text"></input>
		</td></tr>

		<tr><td>
		<label>Дополнительно:</label>
		<input name="custom_str" type="text"></input>
		</td></tr>

		<tr><td>
		<input type="submit" value="Добавить">
		</td></tr>
	</table>
	</form>
</body>

</html>